<div class="section mainBanner">
    <div class="owl-carousel banner owl-theme"></div>
</div>
<div class="section rails-details">
    <div class="section app-rails">
        <div class="title-section">
            <h2>Watch Now</h2>
            <span>See All</span>
        </div>
        <div class="owl-carousel load owl-theme">
            <div class="item">
                <ul><li>
                    <img src="http://resources.sonyliv.com/image/fetch/h_254,w_438,c_fill,fl_lossy,f_auto,q_auto,e_contrast:30,e_brightness:10/https%3A%2F%2Fcf-images.ap-southeast-1.prod.boltdns.net%2Fv1%2Fstatic%2F5182475815001%2F77d0224c-3566-4e7e-bef6-e8103ba9dcba%2Fa6382493-40a9-4836-b9d4-581ab7367b95%2F720x405%2Fmatch%2Fimage.jpg" alt="sony liv">
                </li><li>
                    <img src="http://resources.sonyliv.com/image/fetch/h_254,w_438,c_fill,fl_lossy,f_auto,q_auto,e_contrast:30,e_brightness:10/https%3A%2F%2Fcf-images.ap-southeast-1.prod.boltdns.net%2Fv1%2Fstatic%2F5182475815001%2F6eeaf801-e254-48a3-b446-ae43bb41dc20%2F20364f75-654c-46b3-bc3d-9f8ef6fa34df%2F720x405%2Fmatch%2Fimage.jpg" alt="sony liv">                
                </li></ul>
            </div>
            <div class="item">
                <ul><li>
                    <img src="http://resources.sonyliv.com/image/fetch/h_254,w_438,c_fill,fl_lossy,f_auto,q_auto,e_contrast:30,e_brightness:10/https%3A%2F%2Fcf-images.ap-southeast-1.prod.boltdns.net%2Fv1%2Fstatic%2F5182475815001%2F6eeaf801-e254-48a3-b446-ae43bb41dc20%2F20364f75-654c-46b3-bc3d-9f8ef6fa34df%2F720x405%2Fmatch%2Fimage.jpg" alt="sony liv">
                </li><li>
                    <img src="http://resources.sonyliv.com/image/fetch/h_254,w_438,c_fill,fl_lossy,f_auto,q_auto,e_contrast:30,e_brightness:10/https%3A%2F%2Fcf-images.ap-southeast-1.prod.boltdns.net%2Fv1%2Fstatic%2F5182475815001%2Fae3717aa-314f-456c-acdb-2d2783656af4%2Fdd1b7e99-d716-4f2a-8d97-9439aafdfe42%2F720x405%2Fmatch%2Fimage.jpg" alt="sony liv">                
                </li></ul>
            </div>
            <div class="item">
                <ul><li>
                    <img src="http://resources.sonyliv.com/image/fetch/h_254,w_438,c_fill,fl_lossy,f_auto,q_auto,e_contrast:30,e_brightness:10/https%3A%2F%2Fcf-images.ap-southeast-1.prod.boltdns.net%2Fv1%2Fstatic%2F5182475815001%2F6eeaf801-e254-48a3-b446-ae43bb41dc20%2F20364f75-654c-46b3-bc3d-9f8ef6fa34df%2F720x405%2Fmatch%2Fimage.jpg" alt="sony liv">
                </li><li>
                    <img src="http://resources.sonyliv.com/image/fetch/h_254,w_438,c_fill,fl_lossy,f_auto,q_auto,e_contrast:30,e_brightness:10/https%3A%2F%2Fcf-images.ap-southeast-1.prod.boltdns.net%2Fv1%2Fstatic%2F5182475815001%2Fae3717aa-314f-456c-acdb-2d2783656af4%2Fdd1b7e99-d716-4f2a-8d97-9439aafdfe42%2F720x405%2Fmatch%2Fimage.jpg" alt="sony liv">                
                </li></ul>
            </div>
            <div class="item"><h4>4</h4></div>
            <div class="item"><h4>5</h4></div>
            <div class="item"><h4>6</h4></div>
        </div>
    </div>
</div>